@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100;300&display=swap");

:root {
  --accent: rgb(92, 20, 144);
  --shaded: rgb(231, 230, 230);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-color);
  overflow-y: hidden;
}

.centered {
  text-align: center;
}

.title {
  padding: 5px 0;
  margin-bottom: 5%;
}

div.page-content {
  margin: 5vh 20vw;
  width: 60vw;
  height: 90vh;
  border-radius: 10px;
  background-color: var(--shaded);
  border: 2px solid var(--accent);
}

ul.vertical-list, ul.horizontal-list {
  padding: 0;
  margin: 0;
}

ul.vertical-list li {
  display: block;
}

ul.horizontal-list li {
  display: inline-block;
}

li.btn-list-element {
  height: 3vw;
}

button.settings-btn {
  cursor: pointer;
  float: right;
  width: 3vw;
  height: 3vw;
  border-radius: 1.5vw;
  border: 2px solid var(--accent);
}

input#user-input {
  outline: none;
  border: 2px solid var(--accent);
  border-radius: 5px;
  width: calc(46% - 5px);
  font-size: 14px;
  height: 5vh;
  background-color: white;
  margin: 0 27%;
  text-align: center;
}

button.command-btn {
  border-radius: 5px;
  border: 2px solid var(--accent);
  font-size: 16px;
  padding: 8px 20px;
  background-color: white;
  cursor: pointer;
}

button.command-btn:hover {
  background-color: var(--shaded);
}

ul.follow-btns {
  width: 50%;
  margin: 0 25%;
  position: relative;
}

ul.follow-btns li .followers-btn {
  position: absolute;
  right: 10%;
}

ul.follow-btns li .following-btn {
  position: absolute;
  left: 10%;
}

.horizontal-center {
  margin: 0 25%;
  width: 50%;
}

.no-pad {
  padding: none;
  margin: none;
}

li.info-heading-row {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  visibility: hidden;
}

.red {
  background-color:red;
}

.green {
  background-color:green;
}

.blue {
  background-color:blue;
}