@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100;300&display=swap");

:root {
  --accent: rgb(92, 20, 144);
  --shaded: rgb(231, 230, 230);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--shaded);
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.centered {
  text-align: center;
}

.title {
  padding: 5px 0;
  margin-bottom: 20px;
}

@media only screen and (min-width: 950px) {
  div.page-content {
    position: fixed;
    margin: 0 20vw;
    padding: 0;
    height: 100vh;
    width: 60vw;
    background-color: white;
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
  }
}

@media only screen and (max-width: 949px) {
  div.page-content {
    position: fixed;
    margin: 0 10vw;
    padding: 0;
    height: 100vh;
    width: 80vw;
    background-color: white;
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
  }
}


ul.vertical-list, ul.horizontal-list {
  padding: 0;
  margin: 0;
}

ul.vertical-list li {
  display: block;
}

ul.horizontal-list li {
  display: inline-block;
}

li.btn-list-element {
  height: 3vw;
}

button.settings-btn {
  cursor: pointer;
  float: right;
  width: 3vw;
  height: 3vw;
  border-radius: 1.5vw;
  border: 2px solid var(--accent);
}

input#user-input {
  outline: none;
  border: 2px solid var(--accent);
  border-radius: 8px;
  width: calc(46% - 5px);
  font-size: 14px;
  height: 5vh;
  background-color: white;
  margin: 0 27%;
  text-align: center;
}

button.command-btn {
  border-radius: 8px;
  border: 2px solid var(--accent);
  font-size: 16px;
  padding: 10px 20px;
  background-color: white;
  cursor: pointer;
}

button.command-btn:hover {
  background-color: var(--shaded);
}

button.followers-btn {
  margin: 10px 0;
  position: absolute;
  left: 27%;
  width: 22%;
}

button.following-btn {
  margin: 10px 0;
  position: absolute;
  right: calc(27% - 3px);
  width: 22%;
}

.horizontal-center {
  margin: 0 25%;
  width: 50%;
}

.no-pad {
  padding: none;
  margin: none;
}

li.info-heading-row {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  visibility: hidden;
}

.red {
  background-color:red;
}

.green {
  background-color:green;
}

.blue {
  background-color:blue;
}

.loader {
  border: 16px solid var(--shaded); 
  border-top: 16px solid var(--accent); 
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}