<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="page-content red">
      <ul class="vertical-list">
        <li>
          <h1 class="centered title no-pad blue">Instagram Account Scraper</h1>
        </li>
        <li>
          <input type="text" id="user-input" placeholder="User">
        </li>
        <li>
          <ul class="follow-btns horizontal-list green">
            <li><button class="command-btn followers-btn">Followers</button></li>
            <li><button class="command-btn following-btn">Following</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
