<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Instagram Scraper</title>
  </head>
  <body>
    <div class="page-content">
      <ul class="vertical-list">
        <li>
          <h1 class="centered title no-pad">Instagram Account Scraper</h1>
        </li>
        <li>
          <input type="text" id="user-input" placeholder="Enter Username...">
        </li>
        <li style="padding: 10px 0;">
          <ul class="follow-btns horizontal-list">
            <li><button class="command-btn followers-btn" onclick="getData('followers')">Followers</button></li>
            <li><button class="command-btn following-btn" onclick="getData('following')">Following</button></li>
          </ul>
        </li>
        <li class="info-heading-row green">
          <h2  id="info-heading">Nothing to fetch yet.</h2 >
        </li>
      </ul>
    </div>
  </body>
</html>
